
<div class="row">
  <div class=col-md-4><%= render @todo %></div>
  <div class=col-md-4><%= render @doing %></div>
  <div class=col-md-4><%= render @done %></div>
</div>

<%= link_to 'New Task', new_task_path %>
